html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  color: rgb(179, 179, 179);
  color-scheme: dark;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(247, 255, 247);
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

.active {
  text-decoration: line-through;
}

.display {
  font-family: 'Big Shoulders', cursive;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 24px;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 48px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 48px;
  width: 50%;
  overflow: hidden;
}

.content {
  width: 100%;
  overflow: hidden;
}

.video {
  display: block;
  overflow: hidden;
  width: 120vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  transform: translateX(-30%);
  filter: grayscale(1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
}

tr {
  border-bottom: 1px solid rgb(47, 47, 47);
  line-height: 3rem;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
  }
}

.case {
  overflow: hidden;
  padding: 24px;
  cursor: pointer;
}

.case .title {
  display: flex;
  align-items: center;
  transform: translate(-24px);
  transition: all 0.2s ease-in-out;
}

.case svg {
  transform: translateX(-42px) rotate(-240deg);
  transition: all 0.2s ease-in-out;
}

.case:hover svg {
  transform: translateX(0px) rotate(0deg);
}

.case:hover .title {
  transform: translateX(0px);
}
